@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

/* For headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Public Sans';
}

.b{
    fill:none;
    stroke:#000000;
    stroke-linecap:round;
    stroke-linejoin:round;
}


/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0f0f0f;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f97316;
}

